#ItemListView .unity-list-view__item {
    background-color: transparent;
}

#ItemListView .unity-list-view__item:hover {
    background-color: transparent;
}

#ItemListView .unity-collection-view__item {
    background-color: transparent;
}

#ItemListView .unity-collection-view__item:hover {
    background-color: transparent;
}

#ListViewItem {
    flex-shrink: 0;
    flex-grow: 1;
    margin-bottom: 12px;
}
