#TextCallOut {
    background-color: var(--color-Blue50);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

#TextCallOut > .unity-label {
    white-space: normal;
}
