.inspector {
    margin-left: 88px;
    margin-bottom: 44px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: rgb(255, 255, 255);
    width: 512px;
    flex-grow: 1;
    justify-content: space-between;
}

.inspector .inspector-header {
    margin-bottom: 16px;
}

.inspector > #Content {
    margin-bottom: 16px;
    flex-grow: 1;
    flex-shrink: 0;
}
