.inspector {
    background-color: var(--nl3d-colors-white);
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--nl3d-metrics-inspector-offsetx);
    width: var(--nl3d-metrics-inspector-width);
    transition-property: left;
    transition-duration: 0.4s;
    transition-timing-function: ease-out-back;
}

.inspector--open {
    left: 0;
}
