@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--color-blue-100: #DFE8F2;
	--color-blue-900: #2F3550;
}

html {
	font-family: "Inter", "Roboto", "Helvetica", sans-serif;
	color: var(--color-blue-900);
	box-sizing: border-box;
	min-height: 100%;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url('twin-background.png') no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

p {
	margin-top: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#unity-container { position: absolute }
#unity-container.unity-desktop { width: 100%; height: 100% }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: transparent; }
#unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { width: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-progress-bar-empty { width: 100%; height: 100%; margin-top: 10px; background-color:grey; }
#unity-progress-bar-full { width: 0%; height: 10px; margin-top: 10px; background-color: #FFFFFF; }

#unity-mobile-warning,
#unity-load-error {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	width: 350px;
}

#unity-mobile-warning.--visible,
#unity-load-error.--visible {
	display: block;
}

@media (max-width: 600px) {
	#unity-mobile-warning,
	#unity-load-error {
		top: 10%;
		transform: translate(-50%);
	}
}

#unity-progress-text{
	margin-top: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* try to handle mobile dialog */
canvas+* {
	z-index: 2;
}

.progress {
	margin: 1.5em;
	border: 2px solid #e1e1e1;
	width: 300px;
	display: none;
}

.progress .full {
	background-color: #004699;
	height: 1em;
	transform-origin: top left;
}

.dialog {
	background: white;
	border: 2px solid var(--color-blue-100);
	border-radius: .25rem; /* 4px */
	padding: 1rem;
	font-size: .875rem;
}

.paragraph-heading {
	border-left: 2px solid var(--color-blue-900);
	margin-bottom: .5rem;
	padding-left: .25rem;
}

.dialog--header {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--color-blue-100);
	display: flex;
	align-items: center;
	gap: .375rem;
	font-weight: bold;
}

.dialog--header-icon {
	height: .8rem;
}