@import url("IconButton-style.uss");

.backbutton {
    --button-hover-contrast-color: var(--color-blue-300);
    --button-active-contrast-color: var(--color-blue-700);
}

.backbutton #Icon {
    --icon-image: var(--icon-back); 
}

.backbutton > .unity-label {
    display: none;
}

.backbutton:hover > #Icon {
    -unity-background-image-tint-color: var(--button-hover-contrast-color);
}

.backbutton:active > #Icon {
    -unity-background-image-tint-color: var(--button-active-contrast-color);
}
