.default-hud{
    flex-grow: 1;
}

.default-hud__main-section {
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    min-width: 0;
}

.default-hud__left-section {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;
    padding-right: var(--spacing-3);
}

.default-hud__top-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-width: 0;
    min-height: var(--spacing-14);
    align-items: center;
    overflow: visible;
    padding-bottom: var(--spacing-3);
}

.default-hud__inspector-zone {
    flex-direction: row;
    flex-grow: 1;
}

.default-hud__properties-zone {
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    margin-left: auto;
    min-height: 0;
    max-height: 100%;
    padding-bottom: 224px;
}

.default-hud__properties-zone .default-hud__properties-zone-column {
    align-self: stretch;
    min-height: 0;
    max-height: 100%;
    margin-left: var(--spacing-2);
}

.default-hud__top-section > .toolbar-scenario {
    align-self: stretch;
    width: auto;
    margin-top: var(--spacing-3);
    margin-left: 484px;
    margin-right: 484px;
}

.default-hud__bottom-section {
    flex-direction: row;
    align-items: flex-end;
    flex-shrink: 0;
    padding-top: var(--spacing-3);
}

.default-hud__bottom-info {
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 0;
}

.default-hud__bottom-tools {
    flex-shrink: 0;
}

.default-hud__left-header {
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
}

.presentation-section {
    translate: 0 0;
    transition-property: translate;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.default-hud__inspector-zone > .toolbar-main {
    align-self: flex-start;
}

.default-hud__navigation-section {
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0;
}

.default-hud__minimap-column {
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}

.default-hud__minimap-column > .map-viewport {
    flex-grow: 0;
    flex-shrink: 0;
}

.default-hud__minimap-column:hover > .map-viewport {
    min-width: 512px;
    max-width: 512px;
    min-height: 512px;
    max-height: 512px;
}

.default-hud__presentation-controls {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    margin-right: var(--spacing-2);
}

.default-hud__presentation-button.toggle {
    flex: 0 0 auto;
    height: var(--spacing-11);
    margin: 0;
}

.presentation-section__pin,
.toolbar-toolbox__presentation-pin {
    display: none;
}

.app--functionality-presentation-mode .presentation-section__pin,
.app--functionality-presentation-mode .toolbar-toolbox__presentation-pin {
    display: flex;
}

.presentation-reveal-zones {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.presentation-reveal-zone {
    position: absolute;
    display: none;
}

.presentation-reveal-zone--active {
    display: flex;
}

.presentation-reveal-zone--left-section {
    left: 0;
    top: var(--reveal-zone-size);
    bottom: var(--reveal-zone-size);
    width: var(--reveal-zone-size);
}

.presentation-reveal-zone--top-section {
    left: var(--reveal-zone-size);
    right: var(--reveal-zone-size);
    top: 0;
    height: var(--reveal-zone-size);
}

.presentation-reveal-zone--bottom-section {
    left: var(--reveal-zone-size);
    right: var(--reveal-zone-size);
    bottom: 0;
    height: var(--reveal-zone-size);
}

.presentation-reveal-zone--active {
    display: flex;
    background-color: rgba(255, 255, 0, 0.25);
}

.default-hud__left-section,
.default-hud__top-section,
.default-hud__bottom-section 
{
    translate: 0 0;
    transition-property: translate;
    transition-duration: 0.25s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.default-hud__left-section.presentation-section--hidden,
.default-hud__top-section.presentation-section--hidden,
.default-hud__bottom-section.presentation-section--hidden {
    transition-delay: 0.5s;
}

.default-hud__left-section.presentation-section--hidden {
    translate: -100% 0;
}

.default-hud__top-section.presentation-section--hidden {
    translate: 0 -56px; /* .toolbar-toolbox height + .toolbar-scenario margin-top = var(spacing-11) + var(spacing-3) = 44px + 12px = 56px */
}

.default-hud__bottom-section.presentation-section--hidden {
    translate: 0 100%;
}

.default-hud__left-section,
.default-hud__top-section,
.default-hud__bottom-section {
    background-color: rgba(0, 100, 255, 0.2);
}
    
