
.grabbing .button
{
    background-color: var(--button-active-color);
    border-color: var(--button-active-color);
}

.grabbing .button .unity-label
{
    color: var(--button-active-contrast-color);
}

.grabbing .button > .icon
{
    -unity-background-image-tint-color: var(--button-active-contrast-color);
}