.dropdown {
    height: var(--spacing-11);
    background-color: transparent;
    border-radius: var(--spacing-4);
    border-width: var(--spacing-1);
    border-color: var(--color-blue-50);
    padding: var(--spacing-2);
    margin: 0;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 0;
}

.dropdown:hover {
    border-color: var(--color-blue-700);
}

/* Input */
.dropdown .unity-base-field__input {
    color: var(--color-white);
    background-color: transparent; 
    margin: 0;
    padding: 0;
    border-width: 0;
    min-width: 0;
}



.dropdown .icon {
    background-image: var(--icon-keytokencode);
}

.dropdown .unity-base-popup-field__arrow {
    background-image: var(--icon-chevrondown);
    width: var(--spacing-6);
    height: var(--spacing-6);
    margin-left: var(--spacing-2);
}

.dropdown .unity-text-element {
    display: none;
}

/*.dropdown-popup-container {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border-width: 0;*/
/*}*/

.dropdown-popup-item {
    padding: 0;
    background-color: white;
}
.dropdown-popup-item:hover {
    padding: 0;
    background-color: red;
}

.dropdown-popup-container .unity-repeat-button,
.dropdown-popup-container .unity-scroll-view__vertical-scroller,
.dropdown-popup-container .unity-scroll-view__horizontal-scroller,
.dropdown-popup-container .unity-scroller__slider,
.dropdown-popup-container .unity-scroller {
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    opacity: 0;
    display: none;
}


/*.dropdown .unity-base-dropdown__item {*/
/*    padding: 0;*/
/*    background-color: green;*/
/*}*/

/*.dropdown .unity-base-dropdown__item:hover {*/
/*     padding: 0;*/
/*     background-color: blue;*/
/* }*/