@import url("TextField-style.uss");

.editable-name-field {
    flex-direction: row;
}

.editable-name-field__label{
    margin-top: 0;
    margin-bottom: 0;
}

.editable-name-field__input.textfield{
    margin-top: 0;
    margin-bottom: 0;
    min-height: 0;
}

.editable-name-field__input .unity-base-field__input.unity-base-text-field__input {
    border-width: 0;
}

.unity-base-field__input{
    margin: 0;
}
