.eye-toggle {
    --toggle-bg-color: var(--color-white);
    --toggle-active-color: var(--color-blue-700);
    --toggle-active-contrast-color: var(--toggle-bg-color);
    --toggle-disabled-color: var(--color-blue-200);
    --toggle-padding: var(--spacing-2);
    --toggle-margin: 0px;
    --toggle-border-color: var(--color-blue-200);
    --toggle-border-width: var(--spacing-0_5);
    --toggle-border-radius: var(--spacing-2);
    --toggle-icon-gap: var(--spacing-2);

    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*min-height: var(--spacing-11);*/
    /*padding: var(--toggle-padding);*/
    margin: var(--toggle-margin);
    background-color: var(--toggle-bg-color);
    border-color: var(--toggle-border-color);
    border-width: var(--toggle-border-width);
    border-radius: var(--toggle-border-radius);
    flex-basis: auto;
    border-width: 0;
}

.eye-toggle .unity-checkmark,
.eye-toggle .unity-toggle__input,
.eye-toggle .unity-toggle__checkmark {
    display: none;
}

.eye-toggle > #Icon {
    width: var(--spacing-6);
    height: var(--spacing-6);
}

.eye-toggle:disabled {
    opacity: 1;
    border-color: var(--toggle-disabled-color);
}
