.header {  
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
}

.header__label {
    -unity-font-definition: var(--nl3d-header-font);
    margin: 0 0 0 var(--spacing-2);
    padding: 0;
}
