@import url("IconButton-style.uss");

.helpbutton {
    --button-hover-contrast-color: var(--color-blue-700);
    --button-active-contrast-color: var(--color-blue-700);
}

.helpbutton > #Icon {
}

.helpbutton > .unity-label {
    display: none;
}

.helpbutton:hover > #Icon {
}

.helpbutton:active > #Icon {
}
