.hide-object-listview-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.hide-object-listview-item > * {
    align-items: stretch;
}

.hide-object-listview-item .icon {
    margin: 0 var(--spacing-2) 0 0;
}


.hide-object-listview-item.unity-list-view__item {
    background-color: transparent;
}

.hide-object-listview-item.unity-collection-view__item {
    background-color: transparent;
}

.hide-object-listview-item__title {
    -unity-font-definition: var(--nl3d-default-font-semi-bold);
    margin: 0 var(--spacing-2) 0 0;
    padding: 0;
}

.hide-object-listview-item__id {
    margin: 0;
    padding: 0;
}

.hide-object-listview-item .hide-object-listview-item__toggle {
    background-color: transparent;
}

.hide-object-listview-item:hover{
    background-color: var(--color-blue-700-hover);
}

.hide-object-listview-item:checked{
    background-color: var(--color-selection);
}