/* The actual image node */
.icon {
    --icon-tint-color: var(--color-blue-900);
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    -unity-background-image-tint-color: var(--icon-tint-color);
    width: var(--spacing-6);
    height: var(--spacing-6);

    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.icon:disabled {
    opacity: 1;
    -unity-background-image-tint-color: var(--color-blue-200);
}

.icon.tint-white { --icon-tint-color: var(--color-white); }
.icon.tint-black { --icon-tint-color: var(--color-black); }
.icon.tint-blue-50 { --icon-tint-color: var(--color-blue-50); }
.icon.tint-blue-100 { --icon-tint-color: var(--color-blue-100); }
.icon.tint-blue-200 { --icon-tint-color: var(--color-blue-200); }
.icon.tint-blue-300 { --icon-tint-color: var(--color-blue-300); }
.icon.tint-blue-700 { --icon-tint-color: var(--color-blue-700); }
.icon.tint-blue-900 { --icon-tint-color: var(--color-blue-900); }
.icon.tint-warning { --icon-tint-color: var(--color-warning); }

/* List of all known icons */
.icon.image-adjustments-horizontal { background-image: var(--icon-adjustmentshorizontal); }
.icon.image-annotation { background-image: var(--icon-annotation); }
.icon.image-back { background-image: var(--icon-back); }
.icon.image-backward { background-image: var(--icon-backward); }
.icon.image-backward-blocked { background-image: var(--icon-backwardblocked); }
.icon.image-burger-menu { background-image: var(--icon-burgermenu); }
.icon.image-camera { background-image: var(--icon-camera); }
.icon.image-check { background-image: var(--icon-check); }
.icon.image-checkmark { background-image: var(--icon-checkmark); }
.icon.image-chevron-down { background-image: var(--icon-chevrondown); }
.icon.image-small-chevron-down { background-image: var(--icon-smallchevrondown); }
.icon.image-chevron-left { background-image: var(--icon-chevronleft); }
.icon.image-chevron-right { background-image: var(--icon-chevronright); }
.icon.image-small-chevron-right { background-image: var(--icon-smallchevronright); }
.icon.image-chevron-up { background-image: var(--icon-chevronup); }
.icon.image-close { background-image: var(--icon-close); }
.icon.image-clock { background-image: var(--icon-clock); }
.icon.image-collection { background-image: var(--icon-collection); }
.icon.image-color-wheel { background-image: var(--icon-colorwheel); }
.icon.image-copy-paste { background-image: var(--icon-copypaste); }
.icon.image-credentials { background-image: var(--icon-credentials); }
.icon.image-csv { background-image: var(--icon-csv); }
.icon.image-dot { background-image: var(--icon-dot); }
.icon.image-down { background-image: var(--icon-down); }
.icon.image-download-tile { background-image: var(--icon-downloadtile); }
.icon.image-edit { background-image: var(--icon-edit); }
.icon.image-eyedropper-full { background-image: var(--icon-eyedropperfull); }
.icon.image-filters{ background-image: var(--icon-filters); }
.icon.image-folder { background-image: var(--icon-folder); }
.icon.image-forward { background-image: var(--icon-forward); }
.icon.image-forward-blocked { background-image: var(--icon-forwardblocked); }
.icon.image-fpv{ background-image: var(--icon-fpv); }
.icon.image-height { background-image: var(--icon-height); }
.icon.image-help { background-image: var(--icon-help); }
.icon.image-picture { background-image: var(--icon-picture); }
.icon.image-key { background-image: var(--icon-key); }
.icon.image-key-token-code { background-image: var(--icon-keytokencode); }
.icon.image-layer-mask { background-image: var(--icon-layermask); }
.icon.image-legend { background-image: var(--icon-legend); }
.icon.image-library { background-image: var(--icon-library); }
.icon.image-library-add { background-image: var(--icon-libraryadd); }
.icon.image-line { background-image: var(--icon-line); }
.icon.image-line-of-sight { background-image: var(--icon-lineofsight); }
.icon.image-link { background-image: var(--icon-link); }
.icon.image-location { background-image: var(--icon-location); }
.icon.image-location-pin { background-image: var(--icon-locationpin); }
.icon.image-map { background-image: var(--icon-map); }
.icon.image-measure { background-image: var(--icon-measure); }
.icon.image-meta-data { background-image: var(--icon-metadata); }
.icon.image-minus { background-image: var(--icon-minus); }
.icon.image-moon { background-image: var(--icon-moon); }
.icon.image-move { background-image: var(--icon-move); }
.icon.image-next { background-image: var(--icon-next); }
.icon.image-no-edit { background-image: var(--icon-noedit); }
.icon.image-north-arrow { background-image: var(--icon-northarrow); }
.icon.image-object { background-image: var(--icon-object); }
.icon.image-orthogonal-view { background-image: var(--icon-orthogonalview); }
.icon.image-paint { background-image: var(--icon-paint); }
.icon.image-pause { background-image: var(--icon-pause); }
.icon.image-perspective-view { background-image: var(--icon-perspectiveview); }
.icon.image-pinned { background-image: var(--icon-pinned); }
.icon.image-play { background-image: var(--icon-play); }
.icon.image-plus { background-image: var(--icon-plus); }
.icon.image-point { background-image: var(--icon-point); }
.icon.image-polygon { background-image: var(--icon-polygon); }
.icon.image-presentation-chart { background-image: var(--icon-presentationchart); }
.icon.image-raster { background-image: var(--icon-raster); }
.icon.image-reset-time { background-image: var(--icon-resettime); }
.icon.image-rotate-v-1 { background-image: var(--icon-rotatev1); }
.icon.image-rotate-v-2 { background-image: var(--icon-rotatev2); }
.icon.image-save { background-image: var(--icon-save); }
.icon.image-scale-v-1 { background-image: var(--icon-scalev1); }
.icon.image-scale-v-2 { background-image: var(--icon-scalev2); }
.icon.image-scatter-object { background-image: var(--icon-scatterobject); }
.icon.image-scenario { background-image: var(--icon-scenario); }
.icon.image-search { background-image: var(--icon-search); }
.icon.image-section { background-image: var(--icon-section); }
.icon.image-selection-box { background-image: var(--icon-selectionbox); }
.icon.image-selection-pointer { background-image: var(--icon-selectionpointer); }
.icon.image-settings { background-image: var(--icon-settings); }
.icon.image-sheets { background-image: var(--icon-sheets); }
.icon.image-snap-to-ground { background-image: var(--icon-snaptoground); }
.icon.image-squares { background-image: var(--icon-squares); }
.icon.image-square { background-image: var(--icon-square); }
.icon.image-sun { background-image: var(--icon-sun); }
.icon.image-surface-dome { background-image: var(--icon-surfacedome); }
.icon.image-tile { background-image: var(--icon-tile); }
.icon.image-trash { background-image: var(--icon-trash); }
.icon.image-tree { background-image: var(--icon-tree); }
.icon.image-unpinned { background-image: var(--icon-unpinned); }
.icon.image-up { background-image: var(--icon-up); }
.icon.image-upload-folder { background-image: var(--icon-uploadfolder); }
.icon.image-update-credentials { background-image: var(--icon-updatecredentials); }
.icon.image-username { background-image: var(--icon-username); }
.icon.image-username-password { background-image: var(--icon-usernamepassword); }
.icon.image-video-camera { background-image: var(--icon-videocamera); }
.icon.image-warning { background-image: var(--icon-warning); }
.icon.image-width { background-image: var(--icon-width); }
.icon.image-visibility { background-image: var(--icon-visibility); }
.icon.image-invisible { background-image: var(--icon-invisible); }
.icon.image-color-features { background-image: var(--icon-colorfeatures); }
.icon.image-visibility-mixed { background-image: var(--icon-visibilitymixed); }
.icon.image-visible-in-invisible { background-image: var(--icon-visibleininvisible); }
.icon.image-none { background-image: none; }

