.key-value__key {
    -unity-font-definition: var(--nl3d-default-font-semi-bold);
    margin: 0 var(--spacing-2) 0 0;
    padding: 0;
}

.key-value__value {
    margin: 0;
    padding: 0;
}

.key-value__divider{
    display: flex;
    flex-grow: 1;
    height: var(--spacing-0_5);
    min-height: var(--spacing-0_5);
    margin-top: var(--spacing-3);
    background-color: var(--divider-bg-color);
    border-radius: 0.5px;
}

.key-value__divider.hidden
{
    display: none;
}