.layer-list-view-item {
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: var(--spacing-1);
}

.layer-list-view-item:hover {
    background-color: transparent;
}

.layer-list-view-item__cell {
    margin-right: var(--spacing-3);
}

.layer-list-view-item__color-bar{
    width: var(--spacing-1);
    height: 100%;
}

.layer-list-view-item__name-label {
    flex-grow: 1;
}

.layer-list-view-item__property-toggle{
    border-width: 0;
}