@import url("LayerListViewItem-style.uss");

.layer-drag-ghost{
    position: absolute;
    width: 100%;
    height: 100%;
}

.icon.layer-list-view-item__visibility-toggle{ /* todo: figure out why these spacings are needed and not taken from the base style*/
    margin-left: var(--spacing-1);
}
.layer-list-view-item__color-bar{
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
}

.layer-list-view-item__name-label{
    margin-left: var(--spacing-1);
}

.layer-list-view-item__container{
    position: absolute;
    opacity: 0.5;
}

.layer-drag-ghost__reorder-line{
    opacity: 1;
    position: absolute;
    height: 2px;
    margin-top: -1px; /*offset for the height so the line is vertically centered*/
    background-color: var(--color-blue-900);
    right: 0;
}