:root{
    --reorder-line-width: 2px;
}

.layer-list-view-item{
    border-width: var(--reorder-line-width);
    border-color: transparent;
}

.layer-list-view-item__container {
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.layer-list-view-item:hover {
    background-color: transparent;
}

.layer-list-view-item__cell {
    margin: 0;
}

.layer-list-view-item__visibility-toggle{
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
}

.layer-list-view-item__color-bar{
    width: var(--spacing-1);
    height: 100%;
}

.unity-tree-view__item .layer-list-view-item__icon{
    margin-right: var(--spacing-1);
}

.layer-list-view-item__name-label {
    flex-grow: 1;
    margin: 0 var(--spacing-3) 0 0;
}

.unity-tree-view__item .layer-list-view-item__property-toggle{
    padding: var(--spacing-1);
    background-color: transparent;
    border-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--spacing-2);
    border-bottom-right-radius: var(--spacing-2);
    min-height: 0;
}

.layer-list-view-item--reparent-above .layer-list-view-item{
    border-top-color: var(--color-blue-900);
}

.layer-list-view-item--reparent-target{
    background-color: var(--color-blue-200);
}

.layer-list-view-item--reparent-below .layer-list-view-item{
    border-bottom-color: var(--color-blue-900);
}

.layer-list-view-item--reparent-to-root-above{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: var(--color-blue-900);
    border-width: var(--reorder-line-width);
}

.layer-list-view-item--reparent-to-root-below{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: var(--color-blue-900);
    border-width: var(--reorder-line-width);
}

.layer-list-view-item__visibility-toggle.visibility-toggle{
    background-color: transparent;
}