.listview-item {
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;

    background-color: transparent;
}

.listview-item__container{    
  
    display: flex;
    flex-direction: row;
    align-items: center;

    border-color:  var(--color-blue-200);
}

.listview-item > * {
    align-items: stretch;
}

./* listview-item.unity-list-view__item {
    background-color: transparent;
}

.listview-item.unity-list-view__item:hover {
    background-color: transparent;
}

.listview-item.unity-collection-view__item {
    background-color: transparent;
} */
/* 
.listview-item.unity-collection-view__item:hover {
    background-color: transparent;
} */

/* .listview-item__container:hover{     
    background-color: var(--color-blue-100);
} */

 .listview-item:checked .listview-item__container{
    background-color:  var(--color-selection);
}


  /*   border-width: 2px;
    border-radius: var(--spacing-2); */

