.listview-item {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing-2);
}

.listview-item > * {
    align-items: stretch;
}

.listview-item.unity-list-view__item {
    background-color: transparent;
}

.listview-item.unity-list-view__item:hover {
    background-color: transparent;
}

.listview-item.unity-collection-view__item {
    background-color: transparent;
}

.listview-item.unity-collection-view__item:hover {
    background-color: transparent;
}
