.map-viewport {
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: flex-end;
    
    /* grenzen: voorkomt te klein/te groot */
    aspect-ratio: 1.6;
    min-width: 256px;
    max-width: 320px; /* TODO: test on different screensizes if this is to big */
    min-height: 160px;
    max-height: 200px; /* TODO: test on different screensizes if this is to big */

    border-radius: var(--spacing-2);
    border-width: 0px;
    background-color: red;
    overflow: hidden;
}

.map-viewport__pin
{
    position: absolute;
    left: 0; 
    top: 0;
}

.map-viewport .map-viewport__pin.icon {
    width: var(--spacing-8);
    height: var(--spacing-8);
    background-image: var(--icon-locationpin);
    -unity-background-image-tint-color: var(--color-blue-700);
}