.radio-group {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.radio-group .unity-base-field__label {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: var(--spacing-3);
    padding: 0px;
}

.radio-group .unity-radio-button__text {
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0px;
    padding: 0px;
    min-width: 0;
}

.radio-group .unity-radio-button {
    margin: 0px;
    padding: 0px;
}

/* Item rows */
.radio-group .unity-radio-button__input {
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: var(--spacing-3);
    padding: 0px;
}

/* Outer circle */
.radio-group .unity-radio-button__checkmark-background {
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;  
    justify-content: center;
    align-self: flex-start;
    width: var(--spacing-5);  
    height: var(--spacing-5);
    margin-right: var(--spacing-3);
    padding: 0px;
    background-color: var(--color-white);
    border-color: var(--color-blue-700);
    border-width: var(--spacing-0_5);  
}

/* Dot */
.radio-group .unity-radio-button__checkmark {
    width: var(--spacing-3);
    height: var(--spacing-3);
    border-radius: 100%;
    background-color: transparent;
}

/* Hover (zoals screenshot) */
.radio-group .unity-radio-button:hover .unity-radio-button__checkmark-background  {
    background-color: var(--color-blue-700-hover);
}

/* Checked */
.radio-group .unity-radio-button:checked .unity-radio-button__checkmark-background  {
}
.radio-group .unity-radio-button:checked .unity-radio-button__checkmark {
    background-color: var(--color-blue-700);
}