.runtime-tooltip {
    max-width: 260px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: var(--color-tooltip);
    border-radius: 4px;
    font-size: 13px;
    white-space: normal;
}
