.textcallout {
    --textcallout-bg-color: var(--color-Blue50);
    --textcallout-border-radius: 4px;

    background-color: var(--textcallout-bg-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: var(--textcallout-border-radius);
}

.textcallout > #Label {
    white-space: normal;
}
