@import url("SliderBase-style.uss");
/* TODO: add styling for the vertical direction, class: .unity-base-slider--vertical */

.slider {
    /* component-specifieke dingen voor single */
}

.slider .unity-base-slider__input {
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
}

.slider .unity-base-text-field {
    margin-right: var(--spacing-3);
}

.slider .unity-base-slider__fill {
    translate: -2px -2px; /* Override automatic off-center positioning */
    justify-content: center;
    height: var(--spacing-2);
    background-color: var(--color-blue-700);
    border-radius: var(--spacing-1);
}

/* For adding a highlight border around your thumb */
.slider .unity-base-slider__dragger-border {
}

.slider .unity-base-slider__dragger {
}