@import url("SliderBase-style.uss");
@import url("Slider.uss");

.timeline-slider__container{
    padding: 0 600px 0 600px;
}

.timeline-slider__scrubber{
    translate: 0px 0;
    align-self: center;
    background-color: var(--color-white);
}

.timeline-slider__slider-row{
    align-content: stretch;
    flex-direction: row;
}

.timeline-slider__slider{
    flex-grow: 1;
}