.tooltip {
    min-height: var(--spacing-7);
    min-width: var(--spacing-10);
    padding-top: var(--spacing-1);
    padding-right: var(--spacing-2);
    padding-bottom: var(--spacing-1);
    padding-left: var(--spacing-2);
    align-self: flex-start;
    background-color: var(--color-white);
    border-width: var(--spacing-0_5);
    border-color: var(--color-blue-100);
    border-radius: var(--border-radius-sm);
}