.toolbar-navigation {
    flex-direction: row;
    flex: 0 0 auto;
    height: var(--spacing-11);
    margin: var(--spacing-2) 0 0;
}

.toolbar-navigation__button.button,
.toolbar-navigation__button.toggle {
    flex: 0 0 auto;
    margin-right: var(--spacing-2);
}

/* We need a deep hierarchy level because of the specificity in the button component */
.toolbar-navigation .toolbar-navigation__button.toolbar-navigation__compass .icon {
    --icon-tint-color: var(--color-blue-700);
}

/* We need a deep hierarchy level because of the specificity in the button component */
.toolbar-navigation .toolbar-navigation__button.toolbar-navigation__compass.toolbar-navigation__compass--north .icon {
    --icon-tint-color: var(--color-white);
}