.toolbar-navigation {
    flex-direction: row;
    flex: 0 0 auto;
    height: var(--spacing-11);
    margin: var(--spacing-2) 0 0;
}

.toolbar-navigation__button,
.toolbar-navigation__button.button,
.toolbar-navigation__button.toggle {
    flex: 0 0 auto;
    margin-right: var(--spacing-2);
}

.toolbar-navigation__button.toolbar-navigation__fpv {
    display: none;
    flex: 0 0 auto;
    align-items: center;

    min-height: var(--spacing-11);
    padding: var(--spacing-2);
    background-color: transparent;
    border-color: var(--color-white);
    border-width: 2px;
    border-radius: var(--spacing-2);
}

.toolbar-navigation__button.toolbar-navigation__fpv .label {
    display: none;
}

.app--functionality-first-person-viewer .toolbar-navigation__button.toolbar-navigation__fpv {
    display: flex;
}
