.toolbar-toolbox {
    --toolbar-toolbox-spacing: var(--spacing-2);
    --toolbar-toolbox-negative-spacing: -8px;
    --toolbar-toolbox-half-spacing: var(--spacing-1);
    --toolbar-height: var(--spacing-11);
    --toolbar-max-height: var(--spacing-14);
    
    flex: 0 0 auto;
    min-width: 120px;
    margin: 0;
    align-items: center;
}

.toolbar-toolbox__group {
    flex-direction: row;
    height: var(--toolbar-height);
    min-height: var(--toolbar-height);
    max-height: var(--toolbar-max-height);
    background-color: transparent;
}

.toolbar-toolbox__group .button,
.toolbar-toolbox__group .toggle {
    flex: 0 auto;
    margin-left: var(--toolbar-toolbox-half-spacing);
    margin-right: var(--toolbar-toolbox-half-spacing);
}

.toolbar-toolbox__group > .toolbar-toolbox__presentation-pin {
    position: absolute;

    left: 100%;
    top: 0;

    /* 4px left, and vertically centred using half the pin's own height */
    translate: -4px 0;

    margin: 0;
}
