.world-text
{
    position:absolute;
    --text-border: -10px;
    
}

.world-text__container {
    position: relative;
    background-color: var(--color-white);
}

.world-text__container .editable-name-field {  
    position: relative;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: pre-wrap;
}

.world-text__container .editable-name-field .unity-base-text-field__input {  
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
}

.world-text__container .editable-name-field .unity-label {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
}

.world-text__container .editable-name-field .unity-text-element--inner-input-field-component {
    flex-grow: 0;
    flex-shrink: 1;
    white-space: pre-wrap;
}

.world-text__container .text-field__placeholder {
    background-color: transparent;
    -unity-font-style: italic;
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
}

.world-text__container-background{
    position: absolute;
    background-color: var(--color-white);/*default white until set by styling*/
    left: var(--text-border);
    right: var(--text-border);
    top: var(--text-border);
    bottom: var(--text-border);
    border-radius: var(--spacing-4);
    border-width: var(--spacing-0_5);
    border-color: var(--color-blue-200); /*same color as containtcontainerborders?*/
}

.world-text__position {       
    position:absolute;
    translate: -50% -50%;
    left: 0;
    top: 0;
}

.world-text .world-text__position {
    width: 48px;
    height: 48px;
    -unity-background-image-tint-color: var(--color-white); /*default white until set by styling*/
}
