.world-text
{
    position:absolute;
}

.world-text__container {
    position: relative;
    background-color: var(--color-white);
}

.world-text__container .editable-name-field {  
    position: relative;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.world-text__container .text-field__placeholder {
    background-color: transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
}

.world-text__position {
    border-radius: 20px;
    border-width: 5px;
    border-color: var(--color-black);
    background-color: var(--color-white);
    height: 20px;
    width: 20px;
    position:absolute;
    translate: -50% -50%;
    left: 0;
    top: 0;
}