.app {
    flex-grow: 1;
    margin: 8px;
    padding: 4px;
}

.app__properties-section{
    flex-direction: row;
}

.app__properties-section .app__properties-section-column{
    margin-left: var(--spacing-2);
}