.app {
    flex-grow: 1;
    margin: 8px;
    padding: 4px;
}

.app__inspector-zone
{
    
}


.app__top-zone {
    flex: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
}

.app__properties-zone {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: row;
    max-height: 100%;
}

.app__properties-zone .app__properties-zone-column {
    margin-left: var(--spacing-2);
}

.app__bottom-section{
    align-items: flex-end; 
    flex-direction: row;
}
