.asset-library-panel {
    display: none;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
}

.asset-library-panel .breadcrumb {
    margin-bottom: var(--spacing-3);
    width: auto;
    height: auto;
}

.asset-library-panel.active {
    display: flex;
}