.asset-library-panel {
    display: none;
    flex-wrap: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    opacity: 0;
}

.asset-library-panel .breadcrumb {
    margin-bottom: var(--spacing-3);
    width: auto;
    height: auto;
}

.asset-library-panel.active {
    display: flex;
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;
}