.building-information__divider{
    display: flex;
    flex-grow: 1;
    height: var(--spacing-0_5);
    min-height: var(--spacing-0_5);    
    margin-top: var(--spacing-3);
    background-color: var(--divider-bg-color);
    border-radius: 0.5px;
}

.building-information-bagid__row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-3);
}

.building-information-bagid__label{
    -unity-font-definition: var(--nl3d-default-font-semi-bold);
    margin: var(--spacing-3) 0 0 0;
    padding: 0;
}

.building-information-bagid__link-row {
    flex-direction: row;
    align-items: center;
    border-width: var(--spacing-1);
    border-radius: var(--spacing-4);
    border-color: var(--color-blue-200);
    padding: var(--spacing-2);
}

.building-information-address__list-view{
    margin-top: var(--spacing-3);
}

.building-information__container{
    flex-shrink: 0;
}

.building-information-thumbnail__container{
    flex-shrink: 0;
}

.building-information-address__list-view .unity-label{  
    margin: 0 0 0 0;
    padding: 0;

}

.building-information-address__list-view .unity-collection-view__item:checked {
    background-color: transparent;
}

.building-information-address__list-view .unity-collection-view__item:hover {
    background-color: transparent;
}