.color-picker__row{
    flex-direction: row;
    align-items: stretch; 
    align-self: center;
    margin-bottom: var(--spacing-4);
}

.color-picker__row-last{
    margin-bottom: 0;
}

.color-picker__item {
    margin-right: var(--spacing-4);
}

.color-picker__item-last {
    margin-right: 0;
}

.color-picker__text-field{
    min-width: 84px;
    max-width: 84px;
}