.credential-panel 
{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: var(--spacing-2);
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;
}

.credential-panel:disabled {
    display: none;
}

.credential-panel__content-container:disabled{
    display: none;
}

.credential-panel__confirm-button {
    align-self: flex-end;    
    padding-bottom: var(--spacing-2);
    margin-right: 0;
}

.credential-panel__message-title:disabled {
    display: none;
}

.credential-panel__message-title {
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-bottom: var(--spacing-3);
}

.credential-panel__message-title-text {
    color: var(--color-warning);
    -unity-text-align: middle-left;
    margin: 0;
    padding: 0;
    white-space: normal;
    margin-left: var(--spacing-2);
}

.credential-panel__message-title-input:disabled {
    display: none;
}

.credential-panel__message-title-input {   
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: var(--spacing-3);
}

.credential-panel__message-title-text-input {
    color: var(--color-text);
    -unity-text-align: middle-left;
    margin: 0;
    padding: 0;
    white-space: normal;
}

.credential-panel__input-field {
    margin-left: var(--spacing-2);
    max-width: 50%;
}


