.error-panel {
    display: none;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    opacity: 0;
}

.error-panel .contentcontainer {    
    margin-top: var(--spacing-0_5);
    margin-bottom: var(--spacing-0_5);
}

.error-panel.active {
    display: flex;
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;
}

.error-panel.inactive {
    display: none;
}

.error-panel__button-confirm {
    width: auto;
    align-self: stretch;
}
