.feature-information__container{
    flex-shrink: 0;
}

.feature-information-address__list-view{
    margin-top: var(--spacing-3);
}

.feature-information-thumbnail__container{
    flex-shrink: 0;
}

.feature-information-address__list-view .unity-collection-view__item:checked {
    background-color: transparent;
}

.feature-information-address__list-view .unity-collection-view__item:hover {
    background-color: transparent;
}