.feature-panel {
    flex-direction: column;
}

.feature-panel > * {
    margin-bottom: var(--spacing-3);
}

.feature-panel__body {
    flex-grow: 1;   
    margin-bottom: 0;
}

.feature-panel__body > * {
    margin-bottom: var(--spacing-3);    
}
