.floating-panel {
    width: 380px;
    height: auto;
    background-color: var(--color-white);
    border-radius: var(--border-radius-md);
    max-height: 600px;
}

.floating-panel__content {
    padding: var(--spacing-4);
}

