.import-asset-panel {
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;
}

.import-asset-panel .contentcontainer {    
    margin-top: var(--spacing-0_5);
    margin-bottom: var(--spacing-0_5);
}

.import-asset-panel__button-upload,
.import-asset-panel__button-asset-library {
    width: auto;
    align-self: stretch;
}

.import-asset-panel__open-url #Row {
    flex-grow: 1;
    flex-direction: row;
    flex-shrink: 0;
    align-content: auto;
    margin-bottom: var(--spacing-3);
}

.import-asset-panel__open-url-icon {
    display: none;
}

.import-asset-panel__open-url-field {
    flex-grow: 1;
    margin-left: var(--spacing-2);
}

.import-asset-panel__open-url-button {
    align-self: flex-end;
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    margin-right: 0;
    margin-top: var(--spacing-2);
}
