.inspector-polygon-grid-panel {    
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;
}

.inspector-polygon-grid__container{
    flex-shrink: 0;
}

.inspector-polygon-grid-thumbnail__container{
    flex-shrink: 0;
}

.inspector-polygon-grid__body{
    flex-shrink: 0;
}

.inspector-polygon-grid__body-tip-text{
    white-space: pre-wrap;
}

.inspector-polygon-grid__number-fields-row{
    flex-direction: row;
    align-items: center;
}

.inspector-polygon-grid__number-fields-row .inspector-polygon-grid__item{
    margin-right: var(--spacing-2);
}

.inspector-polygon-grid__item.inspector-polygon-grid__item-last{
    margin-right: 0;
}

.inspector-polygon-grid__number-fields-text{
    flex-grow: 1;
}

.inspector-polygon-grid__button-copy.button{   
    border-radius: 0;
    border-width: 0;
}


