.inspector-polygon-grid-panel {
    display: flex;
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 1;
}

.inspector-polygon-grid-panel .contentcontainer {    
    margin-top: var(--spacing-0_5);
    margin-bottom: var(--spacing-0_5);
}

.inspector-polygon-grid__container{
    flex-shrink: 0;
}

.inspector-polygon-grid-thumbnail__container{
    flex-shrink: 0;
}

.inspector-polygon-grid__body{
    flex-shrink: 0;
}

.inspector-polygon-grid__body-tip-text{
    white-space: pre-wrap;
}

.inspector-polygon-grid__number-fields-row{
    flex-direction: row;
}

.inspector-polygon-grid__button-copy.button{   
    border-radius: 0;
    border-width: 0;
}