:root {
    --reorder-line-width: 2px;
}

.layer-panel {
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

/*.unity-tree-view__item{*/
/*    margin-bottom: var(--spacing-0_5);*/
/*}*/

.layer-panel__bottom-button-container{
    flex-direction: row;
    justify-content: flex-end;
}

.layer-panel__bottom-button-container .button{
    margin-left: var(--spacing-1);
}

.button.button--drag-hover{
    background-color: var(--color-blue-700-hover);
}

.layer-panel__reorder-line-below{
    height: var(--reorder-line-width);
    color: transparent;
}

.layer-panel__reorder-line-below.active{
    background-color: var(--color-blue-900);
}