.layer-panel {
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
.layer-panel__bottom-button-container{
    flex-direction: row;
    justify-content: flex-end;
}

.layer-panel__bottom-button-container .button{
    margin-left: var(--spacing-1);
}