.masking-panel {
    flex-direction: column;
}

.masking-panel > * {
    margin-bottom: var(--spacing-3);
}

.masking-panel__message-text {
    -unity-text-align: middle-left;
    margin: 0;
    padding: 0;
    white-space: normal;
}

.masking-panel__body {
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: var(--spacing-3);
}

.masking-panel__body > * {
    margin-bottom: var(--spacing-3);
}

.masking-panel__list-view{
    flex-grow: 1;
    height: auto;
    margin-bottom: 0;
}
