.sensor-property-section__title{
    -unity-font-definition: var(--nl3d-header-font);
}

.sensor-property-section__row {
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--spacing-2);
}

.sensor-property-section__row .sensor-property-section__item{
    
    margin-right: var(--spacing-2);
}

.sensor-property-section__item-last {
    flex-grow: 1;
}

.sensor-property-section__row.sensor-property-section__item-last{
    margin-right: 0;
}
