.transform-property-section__row {
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--spacing-2);
}

.transform-property-section__row .transform-property-section__item{
    margin-right: var(--spacing-2);
}

.transform-property-section__item.transform-property-section__item-last{
    margin-right: 0;
}

.transform-property-section__row .number-field .textfield .unity-base-text-field__input {
    padding-left: 0;
    padding-right: 0;
}