.transform-panel__row {
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--spacing-2);
}

.transform-panel__row .transform-panel__item{
    margin-right: var(--spacing-2);
}

.transform-panel__item.transform-panel__value-field--last{
    margin-right: 0;
}
 