.wms-legend-panel{
    min-width: var(--inspector-min-width);
    width: var(--inspector-width);
    max-width: var(--inspector-max-width);
    margin-left: var(--spacing-2);
    align-self: flex-start;
    max-height: 100%;
}

.wms-legend-panel__image{
    width: 100%;
}