.list-view__item {
    flex-shrink: 0;
    flex-grow: 1;
    margin-bottom: 12px;
}

.list-view__item.unity-list-view__item {
    background-color: transparent;
}

.list-view__item.unity-list-view__item:hover {
    background-color: transparent;
}

.list-view__item.unity-collection-view__item {
    background-color: transparent;
}

.list-view__item.unity-collection-view__item:hover {
    background-color: transparent;
}

